@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.grid {
  display: grid;
  gap: $space-6;

  &--2 {
    grid-template-columns: 1fr;

    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3 {
    grid-template-columns: 1fr;

    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4 {
    grid-template-columns: 1fr;

    @include respond-to('sm') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('xl') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
